.myname{
    font-family: 'Playfair Display', sans-serif ;
    font-size: larger;
}
.my-position{
    font-size: small;
    margin-top: -1%;
}
.header-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ivory;
}
.about-me{
    background-color: ivory;
}
.container{
    margin-left: 30%;
    margin-right: 30%;
}